@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Inline&family=Inter:wght@200&family=Monoton&family=Red+Hat+Display:wght@300&family=Russo+One&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#inline-all-custom>*{
 display: inline;
 font-size: 15px;
}
.font-lora{
  font-family: 'Red Hat Display', sans-serif;
}
#blogContent>h1{
font-size: 32px;
border-bottom: 0.2px solid;

}

#blogContent>h2{
  font-size: 24px;
  border-bottom:0.2px solid ;
  }
#blogContent>h3{
  font-size: 19px;
  font-style: bold;
     }
#blogContent>h3{
        font-size: 16px;
        font-style: bold;
     }
#blogContent>p{
    font-size: 18px;
}    
#blogContent>ul>li{
    font-size: 18px;
}         
#blogContent>p>a{
  text-decoration: underline;
  color: rgb(97, 97, 184); 
}
#blogContent>pre{
  padding: 5px;
  background-color: rgb(43, 51, 73);
  color: rgb(255, 148, 9);
  overflow-x: scroll;
}